version: '3.8'

services:
  neo4j:
    image: neo4j:5
    container_name: neo4j-db
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/neo4j123
    volumes:
      - neo4j_data:/data

volumes:
  neo4j_data:
